{% extends "modelbase.html" %}

{% block title %}Bill Of Materials{% endblock %}

{% block mystyles %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='DataTables/datatables.min.css') }}"> 
    <style>
     .modelname {color:blue}
     
     th {border:1px solid black}
     table.dataTable tbody td {white-space: nowrap; padding: 4px 4px}
     table tbody tr.assembly {background-color:#f5f5f5}
     .truncate {overflow:hidden; text-overflow:ellipsis; max-width:32ch;}
     .truncate:hover {white-space: normal}
      
     div.dt-buttons { float:left;}
     div.dt-buttons a.btn {font-size:small}
     #bomtable_filter { display:inline-block; float:right}
     #bomtable_wrapper {font-size:smaller}
    </style>
{% endblock %}

{% block myscripts %}
    <script type="text/javascript" src="{{ url_for('.static', filename='DataTables/datatables.min.js') }}"></script>
    <script type="text/javascript">
     $(document).ready(function(){
         var table = $('#bomtable').DataTable({
             paging: false,
             ordering: false,
             scrollY: 600,
             scrollX: true,
             //select: true,
             scrollCollapse: true,
             //colReorder: {
             //    realtime: true,
             //    fixedColumnsLeft: 1,
             //},
             fixedColumns: {
                 leftColumns: 1,
                 heightMatch: 'none',
             },
             buttons: [ 'colvis', 'colvisRestore', 'copy', 'csv', 
                        {
                            extend: 'excel',
                            filename: "bgexplorer_{{ g.model.name }}_{{ g.model.version }}",
			            } ],
             dom: 'B<"clear">lfrtip',
         });
     });
    </script>
{% endblock %}


{% block pageheader %}
    <h1> <span class="modelname">{{ g.model.name }}</span> Bill Of Materials </h1>
{% endblock %}

{% block pagecontent %}
    <table id="bomtable" class="table table-condensed table-bordered" width="100%" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Weight</th>
                <th>Description</th>
            </tr>
        </thead>
        {% set  outline = 'foobar' %}
        <tbody>{% for row in bomrows %}
            <tr class="component {%- if row.component.getcomponents is defined %} assembly{% endif %}" >
                <td><small>{{ row.outline }}</small> {{ row.component.name }}</td>
                <td>{{ row.weight }} {%- if row.totalweight != row.weight %} ({{ row.totalweight }}){% endif %}</td>
                <td>{{ row.component.description }}</td>
            </tr>
        {% endfor %}</tbody>
    </table>


{% endblock %}
