{% extends "modelbase.html" %}


{% block title %}Components{% endblock %}

{% block pageheader %}
    <h1> Components </h1>
{% endblock %}

{% block pagecontent %}
    <table class="table" id="componentstable">
	<thead>
	    <tr>
		<th>Name</th><th>Weight</th><th>Description</th></tr>
	    </tr>
	</thead>
	<tbody>{% for component,weight in [(g.model.assemblyroot,1)] recursive %}
	    <tr class="comp {% if component==g.model.assemblyroot %}assemblyroot{% endif %}" >
		<td style="padding-left: {{ (loop.depth0-1,0) | max }}em" >
		    <a href="{{ url_for('.componentview', component=component) }}">{{ component.name }}
			{%- if component == g.model.assemblyroot %} (assemblyroot){% endif -%}</a>
		</td>
		<td>{{ weight }}</td>
		<td>{{ component.description }}</td>
		{% if component.getcomponents %}
		    {{ loop(component.getcomponents(deep=False, withweight=True)) }}
		{% endif %}
	    </tr>
	    
	{% endfor %}</tbody>
    </table>
{% endblock %}
