{% macro printdataset(dataset, name=None) %}
    {% if dataset is iterable and dataset is not string %}
    {% for ds in dataset %}
        {{ printdataset(ds, loop.index) }}
    {% endfor %}
    {% else %}
        {% if dataset %}
        <a href="{{ url_for('simsviewer.detailview', dataset=dataset) }}">{{ name or dataset }}</a>
        {% endif %}
    {% endif %}
{% endmacro %}


{% macro printassemblypath(assemblyPath) %}
    <ol class="breadcrumb placementmath">
    {% for placement in assemblyPath %}
        {% if loop.index0 == 0 %}
        <li class="breadcrumb-item component assembly">
            <a href="{{ url_for('.componentview', component=placement.parent) }}">{{ placement.parent.name }}
            </a>
        </li>
        {% endif %}
        <li class="breadcrumb-item component">
        <a href="{{ url_for('.componentview', component=placement.component) }}">{{ placement.name }}{% if placement.weight != 1 %} ({{ placement.weight }}){% endif %}</a>
        </li>
    {% endfor %}
    </ol>
{% endmacro %}


{% macro showevaluated() %}
<script>
  var db = bgexplorer.dashboard;
  $(document).ready(function(){
    var pagecontent = d3.select("#pagecontent");
    pagecontent.append("h2").text("Evaluated Data");
    pagecontent.append("div").attr('id','loading').text("Loading evaluated data table...");
  });
  db.onLoad(function(){
    ['Component', 'Source'].forEach(function(name){
      d3.select("#pagecontent").append('div').attr('id', "eval"+name);
      db.buildtable("#eval"+name, name);
    });
  });
</script>

{% endmacro %}
