{% extends "base.html" %}

{% set longname = g.model.name + " v" + g.model.version %}

{% block title %}bgexplorer: {{ g.model.name }}{% endblock %}


{% block navbarextra %}
<!--
    <p class="navbar-right navbar-text">Exploring <span style="color:blue"> {{ longname }}</span></p>
-->
{% endblock %}


{% block navbarlinks %}
    {% set modellabel = 'Model <span style="color:blue">'+longname+'</span>' %}
    {{ navbaritem(url_for('.overview'),modellabel | safe) }}
    {{ navbardropdown("Inputs", [
        (url_for('.componentview'),"Components"),
        (url_for('.emissionsoverview'),"Emissions"),
        (url_for('.billofmaterials'),"Bill of materials"),
        (url_for('.simulationsoverview'),"Sim data requests"),
        (url_for('.queriesoverview'),"Sim data queries"),
        ]) }}
    {#
    {{ navbardropdown("Components",[
      (url_for('.componentview'),"Quick List"),
      (url_for('.billofmaterials'),"Bill of materials"),
    ]) }}
    {{ navbaritem(url_for('.emissionsoverview'),"Emissions") }}
    {{ navbardropdown("Simulations",[
        (url_for('.simulationsoverview'),"by Placement path, spec"),
        (url_for('.queriesoverview'),"by Database Query"),
    ]) }}
    #}
    {{ navbardropdown("Results",[
        (url_for('.tablesdefault'),"Tables"),
        (url_for('.chartsdefault'),"Charts"),
        (url_for('.spectradefault'), "Spectra"),
        (url_for('.datatable'),"Export Raw Data"),
    ]) }}
    {% include ['navbarcustom.html','customlinks.html'] ignore missing %}
{% endblock %}


