{% extends "modelbase.html" %}

{% block title %}Overview: {{ longname }}{% endblock %}

{% block pageheader %}
    <h1 style="display:inline-block">{{ g.model.name }} <small>v{{ g.model.version }}</small></h1>
    Last modified on {{ g.model.editDetails.get('date') }} by {{ g.model.editDetails.get('user') }}

    <div class="btn-group pull-right">
        <a class="btn btn-default" href="{{ url_for('.export') }}">Export as JSON</a>
        <a class="btn btn-primary" href="{{ url_for('modeleditor.bindsimdata',modelid=g.model.id) }}" >Update simulation data</a>
        <form class="form-inline" action="{{ url_for('modeleditor.newmodel') }}" method="POST" style="display:inline" >
            <input type="hidden" name="derivedFrom" value="{{ g.model.id }}">
            <button class="btn btn-warning" type="submit" >Edit (New Version)</button>
        </form>


    </div>
{% endblock %}

{% block myscripts %}
<script>
    function updateCacheStatus(){
      // display how much of the data is cached
      $.getJSON("{{ url_for('.cachestatus') }}")
        .done(function(data){
            var datatableclass = data.datatable ? "success" : "danger"
            var datatabletext = "datatable";
            if(data.datatabletime)
                datatabletext += " <"+parseInt(data.datatabletime)+" seconds>";
            datatable = $("<li></li>").addClass("list-group-item")
                .addClass("list-group-item-"+datatableclass)
                .text(datatabletext);

            var spectraclass = "danger";
            if(data.spectra == data.totalspectra)
                spectraclass = "success";
            else if(data.spectra > 0)
                spectraclass = "warning";
            var spectratext = "spectra:  "
                            + data.spectra+" / "+data.totalspectra
                            + " ("+Math.floor(100*data.spectra/data.totalspectra)+"%)";
            if(data.spectratime)
                spectratext += " <"+data.spectratime+" seconds>";
            spectra = $("<li></li>").addClass("list-group-item")
                .addClass("list-group-item-"+spectraclass)
                .text(spectratext);

            $("#cachestatus").html($("<ul></ul>").addClass("list-group")
                                   .addClass("list-group-horizontal")
                                   .append(datatable).append(spectra));

            if(data.spectra < data.totalspectra){
              setTimeout(updateCacheStatus, 2000);
            }
        })
        .fail(function(jqxHr, textStatus, error){
          var err = textStatus + ", " + error;
          $("#cachestatus").addClass("text-danger", true)
            .text("Request failed: "+err);
        });
    }
    $(updateCacheStatus);
</script>
{% endblock %}

{% block pagecontent %}
    <div class="row" >
    <div class="col-md-6" >
        <h3>Description</h3>
        <p>{{ g.model.description }}</p>
        <h4>Database Backend</h4>
        <p><a href="{{ url_for('simsviewer.overview') }}">{{ g.model.simsdb |default("default") }}</a></p>
        <h4>Evaluated Data Cache</h4>
        <p id="cachestatus"></p>
        <p>If you experience an issue with displayed plots, the button below may
        fix some issues. </p>
        <form class="form-inline" action="{{ url_for('.clearcache') }}" method="POST">
            <button class="btn btn-danger btn-small">Clear Results Cache</button>
        </form>


    </div><!-- end col -->

    <div class="col-md-6" >
        <dl class="dl-horizontal" >
            <dt>Total <a href="{{ url_for('.componentview') }}">components</a>: </dt>
            <dd>{{ g.model.components | length }}</dd>

            <dt>Total <a href="{{ url_for('.emissionsoverview') }}">emission specs</a>:</dt>
            <dd>{{ g.model.getspecs(rootonly=True) | map("int", default=1) | sum }} groups
                ({{ g.model.specs | length }} total)</dd>
        </dl>
        <h3>Additional Details</h3>
        <dl class="dl-horizontal" >
        {% for key, val in g.model.editDetails.items() %}
        {% if key not in ("date", "user", "derivedFrom") %}
            <dt class="" >{{ key }}</dt>
            <dd class="" >{{ val }}</dd>
        {% endif %}
        {% endfor %}
        </dl>
    </div>
    </div> <!-- end row -->

    <div class="row" >
    <div class="col-md-12" >
        {% if history %}
        <h3>History</h3>
        <table id="historytable" class="table table-compact">
            <thead>
                <tr><th>Name</th><th>Comment</th><th>Saved</th></tr>
            </thead>
            <tbody>
            {% for oldmodel in history %}<tr>
                <td><a href="{{ url_for('.overview', model=oldmodel, permalink=True) }}">
                    {{ oldmodel['name'] }} v{{ oldmodel['version'] }}</a>{%- if loop.index0==0 %} (this version){%- endif -%}</td>
                <td>{{ oldmodel['editDetails']['comment'] }}</td>
                <td>{{ oldmodel['editDetails']['date'] }} by {{ oldmodel['editDetails']['user'] }}</td>
            {% endfor %}</tr>

            </tbody>
        </table>
        {% endif %}
    </div><!-- end col -->
    </div> <!-- end row -->
{% endblock %}
