{% extends "modelbase.html" %}

{% from "macros.html" import printdataset %}

{% block mystyles %}
    <style>
    td .breadcrumb { margin:0px; padding:0px }
    </style>
{% endblock %}


{% block title %}Queries{% endblock %}

{% block pageheader %}
    <h1> Simulation Data Queries</h1>
{% endblock %}

{% block pagecontent %}
    <table class="table" id="querytable">
    <thead>
        <tr><th>Query</th><th>Components</th><th>Datasets</th><th>Livetime</th></tr>
    </thead>
    <tbody>{% for _id in queries.keys() %}
        {% for query, matches in queries[_id].items() %}
            {% for match in matches %}
                <tr class="simquery" >
                    <td><a href="{{ url_for('simsviewer.overview',query=matches.query) }}">{{ match.query }}</a></td>
                    <td><a href="{{ url_for('.simdatamatchview', match=match) }}">
                        {{ match.component.name }}
                    </a></td>
                    <td>{% for dataset, matches in matches|groupby('dataset') %}{{ printdataset(dataset) }}{% endfor %}</td>

                    <td>{{ matches | sum(attribute='livetime') }}</td>
                {% endfor %}</tr>
        {% endfor %}
    {% endfor %}</tbody>
    </table>
{% endblock %}
