{% extends "modelbase.html" %}

{% from "macros.html" import printdataset %}

{% block mystyles %}
    <style>
    td .breadcrumb { margin:0px; padding:0px }
    </style>
{% endblock %}


{% block title %}Queries{% endblock %}

{% block pageheader %}
    <h1> Simulation Data Queries</h1>
{% endblock %}

{% block pagecontent %}
    <table class="table" id="querytable">
    <thead>
        <tr><th>Query</th><th>Components<th>Datasets</th><th>Livetime</th></tr>
    </thead>
    <tbody>{% for query, matches in queries.items() %}
        <tr class="simquery" >
            <td><a href="{{ url_for('simsviewer.overview',query=matches[0].query) }}">{{ query }}</a></td>

            <td>{% for match in matches %}
                {%-  if loop.index0 > 0 %} | {% endif -%}
                <a href="{{ url_for('.simdatamatchview', match=match) }}">
                    {{ match.component.name }}
                </a>
            {% endfor %}</td>

            <td>{% for dataset, matches in matches | selectattr('dataset') | groupby('dataset') %}{{ printdataset(dataset) }}{% endfor %}</td>

            <td>{{ matches | sum(attribute='livetime') }}</td>
        </tr>

    {% endfor %}</tbody>
    </table>
{% endblock %}
