{% extends "dashboardbase.html" %}

{% block mystyle %}
    {{ super() }}

{% endblock %}


{% block title %}Spectra{% endblock %}

{% block pageheader %}
    <h1> Spectra </h1>
{% endblock %}

{% block pagecontent %}
<div id="spectra">
  {% for specname in g.simsdbview.spectra.keys() %}
      {% set url = url_for('.getspectrum', specname=specname) %}
      <div class="col-xs-6 col-md-4">
          <a href="{{ url }}" class="thumbnail">
              <img class="img-responsive" src="{{ url }}"
                   alt="spectrum {{ specname }}">
          </a>
      </div>
  {% endfor %}
</div>
<div class="clearfix"></div>

{{ super() }}
{% endblock %}
