{% extends "bootstrap/base.html" %}

{% block title %}Models{% endblock %}

{% macro newmodelbutton(derivedFrom='', label="Edit") -%}
    <form action="{{ url_for('modeleditor.newmodel') }}" method="POST">
	{% if derivedFrom -%}<input type="hidden" name="derivedFrom" 
				    value="{{ derivedFrom }}"><{%- endif -%}
	<input type="submit" value="{{ label }} " >
    </form>
{%- endmacro %}

{% macro printmodel(model) %}
    <tr class="model">
	<td>{{ model.name }}</td>
	<td>{{ model.version }}</td>
	<td>{{ model.editDetails.date }} by {{ model.editdetails.user }}</td>
	<td>{{ model.description }}</td>
	<td>{{ newmodelbutton(model.id) }}</td>
    </tr>
{% endmacro %}

{% block content %}
    <h1>List of Models</h1>
    {{ newmodelbutton(label="Create New") }}
    <table id="modelist">
	<thead>
	    <tr>
		<th>Name</th><th>Version</th><th>Last Edited</th>
		<th>Description</th><th>Edit</th>
	    </tr>
	</thead>
	<tbody>
	    {% for model in models %}
		{{ printmodel(model) }}
	    {% endfor %}
	</tbody>
    </table>
    
{% endblock %}
