{% extends "base.html" %}

{% block title %}Upload Sim Data{% endblock %}

{% block pageheader %}
    <h1> Upload Sim Data to <a href="{{ url_for('.overview') }}">{{ g.dbname }}</a></h1>
{% endblock %}

{% block mystyles %}
    <style>
     #finfo {width:85%; margin-top:2em; }
     .truncate {overflow:hidden; text-overflow:ellipsis; max-width:32ch;}
     .truncate:hover {white-space: normal}

     div.dt-buttons { float:left;}
     div.dt-buttons a.btn {font-size:small}
     /*#simdata_filter { display:inline-block; float:right}*/
     #simdata_wrapper {font-size:smaller}

     div.droptarget {background-color:#D9EDF7; border: 2px dashed blue;
                     padding:1em ; max-width:600px; margin:auto; text-align:center}
     div.droptarget.dragover { background-color: #90EE90; border: 2px solid green;}
     div.droptarget div {pointer-events: none;}
     div.droptarget div label {pointer-events: auto;}
    </style>
{% endblock %}


{% block myscripts %}
    <script type="text/javascript">
      function preventDefaults(event){
        event.preventDefault();
        event.stopPropagation();
      }

      function dragenter(e){
        preventDefaults(e);
        $(e.target).addClass('dragover');
      }

      function dragleave(e){
        preventDefaults(e);
        $(e.target).removeClass('dragover');
      }

      function handleNewFiles(event){
        preventDefaults(event);
        $("#droptarget").removeClass("dragover");
        var dt = event.originalEvent.dataTransfer;
        var fupload = document.getElementById("fupload");
        if(dt && dt.files)
          fupload.files = dt.files;
        document.getElementById("mainform").submit();
      }


      $(document).ready(function(){
        $("#droptarget")
          .on('drop', handleNewFiles)
          .on('dragenter', dragenter)
          .on('dragover',  preventDefaults)
          .on('dragleave', dragleave);
        $("#fupload").on('change', handleNewFiles);
      });

    </script>
{% endblock %}


{% block pagecontent %}
  <h2>Insert new entries into the simulations database</h2>

  <form id="mainform" action="{{ url_for('.upload') }}" method="POST" class="form" enctype="multipart/form-data">
  <div id="droptarget" class="droptarget">
    <div class="form-group">
      <label class="control-label btn btn-default" for="fupload">Select file(s) to upload</label>
      <input type="file" class="form-control-file hidden" multiple name="fupload"
             id="fupload">
      or drag and drop<br>
      <small id="filehelp" class="form-text text-muted">Files should be JSON or zipped archives.</small>
    </div>
  </div>
  </form>
  {% if result %}
  {% if result.entries %}
    <h3 class="text-success">Successfully inserted:</h3>
    <table class="table">
      <thead><tr><th>File</th><th>Entry</th></tr></thead>
      <tbody>
      {% for filename, entry in result.entries.items() %}
        <tr>
          <td>{{ filename }}</td>
          <td><a href="{{ url_for('.detailview', dataset=entry) }}">{{ entry }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if result.errors %}
    <h3 class="text-danger">Errors:</h3>
    <table class="table">
      <thead><tr><th>File</th><th>Error</th></tr></thead>
      <tbody>
      {% for filename, error in result.errors.items() %}
        <tr>
          <td>{{ filename | default('General') }}</td>
          <td class="text-danger">{{ error }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% endif %}

{% endblock %}

