{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Assay{% endblock %}
{% block pageheader %}<h1>Edit Assay Reference</h1>{% endblock %}

{% block myscripts %}
<script type="text/javascript">
  function confirmdelete(){
    if(confirm("Are you sure you want to delete this entry?")){
      document.getElementById("deleteform").submit();
    }
  }
</script>
{% endblock %}

{% block pagecontent %}
{% if assayid %}
  <form id="deleteform" action="{{ url_for('.delete') }}" method="POST">
    <input type="hidden" name="id" value="{{ assayid }}">
  </form>
{% endif %}

<form action="{{ url_for('.edit', assayid=assayid) }}" method="POST" >
<div class="row">
  <div class="col-md-8" >
    {{ wtf.quick_form(form) }}
  </div>

  <div class="col-md-4">
  <span class="btn-group pull-right">
      <button type="submit" class="btn btn-primary" >Save</button>
      <button class="btn btn-toolbar dropdown-toggle" type="button" data-toggle="dropdown">
        Other actions<span class="caret" ></span>
      </button>
      <ul class="dropdown-menu">
        <li class="list-group-item-warning" >
        <a href="{{ url_for('.edit', assayid=assayid) }}"
           class="" >Reload (discard changes)</a>
        </li>
        {% if assayid %}
        <li class="list-group-item-default">
          <a href="{{ url_for('.exportentries', id=assayid) }}">Export</a>
        </li>
        <li  class="list-group-item-danger" >
        <a href="#" onclick="confirmdelete();">Delete</a>
        </li>
        {% endif %}
      </ul>
  </span>
  </div>
</div>

</form>

{% endblock %}
