{% import "bootstrap/wtf.html" as wtf %}

{# This should only ever be loaded via ajax, so no headers, etc #}
<form action="{{ url_for('.editspec', modelid=model.id,specid=editspec.id) }}" method="POST" >
    <h2>Edit Specification
	
	<span class="btn-group pull-right">
	    <button type="submit" class="btn btn-primary" >Save</button> 
	    <button class="btn btn-toolbar dropdown-toggle" type="button" data-toggle="dropdown">
		Other actions<span class="caret" ></span>
	    </button>
	    <ul class="dropdown-menu">
		<li class="list-group-item-warning" >
		    <a href="{{ url_for('.editspec',modelid=model.id, specid=editspec.id) }}"
		       class="" >Reload (discard changes)</a>
		</li>
		<li>
		    <a href="{{ url_for('.newspec',modelid=model.id) }}" onclick="dopost(event);"
		       data-form='{"clonefrom": "{{ editspec.id }}"}'>
			Clone this spec
		    </a>
		</li>
		<li  class="list-group-item-danger" >
		    <a href="{{ url_for('.delspec',modelid=model.id, specid=editspec.id) }}"
		       onclick="dopost(event);" data-confirm="Are you sure you want to completely delete this spec?">
			Delete all instances of this spec
		    </a>
		</li>
	    </ul>
	</span>
	
    </h2>
	
    <div class="scroll" >
    {{ wtf.quick_form(form) }}
    </div>
</form>
